.container {
  width: 100%;
  margin: auto;
  text-align: center;
  user-select: none;
}

.dice {
  text-align: center;
  display: inline-block;
}


.btn {
  text-align: center;
}

.btn button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background: #FAF1D8;
  margin-top: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 2px 0 #232931;
}

.res {
  display: inline-block;
  width: 256px;
  height: 208.8px;
  text-align: center;
}

.reload {
  margin: 0 43%;
}

a {
  text-decoration: none;
  color: #EEEEEE;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  cursor: pointer;
  transition: transform .2s ease;
  user-select: none;
}

h1:active {
  transform: scale(1.1);
}

h3 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 4rem;
  color: #4ECCA3;
  cursor: pointer;
  transition: transform .2s ease;
  user-select: none;
  visibility: hidden;
}

h3:active {
  transform: scale(1.1);
}

label {
  font-size: 18rem;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  user-select: none;
}

p {
  font-size: 4rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  user-select: none;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media only screen and (max-width: 1515px) {

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 4rem;
    margin-top: 60px;
  }

  .dice {
    width: 20%;
  }

  .heading {
    height: 50px;
  }

  .btn button {
      margin: 50px;
  }
}

@media only screen and (max-width: 1399px) {
  .reload {
    margin: 0;
  }

  label {
    font-size: 14rem;
  }
  }

  @media only screen and (max-width: 1170px) {
    p {
      font-size: 3rem;
    }

    label {
      font-size: 15rem;
    }
    }

@media only screen and (max-width: 992px) {
  .res {
    width: 166px;
    height: 118.8px;
  }
  label {
    font-size: 13rem;
  }
}

@media only screen and (max-width: 907px) {
  .res {
    width: 146px;
    height: 98.8px;
  }
  p {
    font-size: 3rem;
  }

  label {
    font-size: 12rem;
  }
}

@media only screen and (max-width: 795px) {
  .res {
    width: 126px;
    height: 78.8px;
  }
  p {
    font-size: 2.5rem;
  }

  label {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 636px) {
  .heading {
    margin-bottom: 100px;
  }

  p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  label {
    font-size: 6rem;
  }
  p {
    font-size: 1.7rem;
  }
  label {
    font-size: 8rem;
  }
}
